/* Write your global styles here, in PostCSS syntax */
@import './lib/assets/fonts/poppins-font/stylesheet.css';
@import './lib/assets/fonts/inter-font/stylesheet.css';
@import './lib/assets/fonts/nova-font/stylesheet.css';
@import './lib/assets/fonts/quicksand/stylesheet.css';
@tailwind base;

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind components;
@tailwind utilities;
